bcrypt==4.1.2
dhanhq==2.2.0
fastapi==0.109.0
httpx==0.26.0
kiteconnect==4.2.0
motor==3.5.1
pyarrow==21.0.0
pydantic==2.9.2
PyJWT==2.3.0
pymongo==4.6.1
python-dotenv==1.0.0
redis==5.0.1
requests==2.31.0
uvicorn==0.27.0
websocket-client==1.8.0
websockets==13.1
